/*~ Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', arial, sans-serif;
	font-size: 14px;
	font-weight: 700;

	line-height: 24px;
	color: #fff;
	
	text-transform: uppercase;

	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	font:inherit;
	text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute !important;
	
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding:0 !important;
	border:0 !important;
	
	white-space: nowrap;
	
	clip: rect(0 0 0 0); /* IE6, IE7 */
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.button{
	display: inline-block;
	font: inherit;

	background-color: #000;
	color: #fff;

	cursor: pointer;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
	padding: 10px 30px;
	margin-right: 16px;
}

.button.disabled,
.button:disabled{
	cursor: default;
	opacity: 0.6;
	background-color: #000 !important;
}

.button:hover,
.button:focus,
.button:active{
	background-color: #663d15;
}



/*& Header */
.main-header{
	margin-bottom: 40px;
}

.main-navigation{
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: #000;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-color: transparent;
}

.main-navigation-wrapper{
	width: 100%;
	margin-bottom: 60px;

	background-color: black;
}

.main-navigation-wrapper .container{
	display: flex;
	justify-content: space-between;
	min-height: 72px;
}

.site-navigation,
.user-navigation{
	margin: 0;
	padding: 0;
	list-style: none;

	width: 620px;

	display: flex;
	flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a{
	display: block;
	padding: 26px 20px;
	color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
	background-color: #242424;
}

.user-navigation{
	display: flex;
	width: auto;
	max-width: 140px;
}

.user-navigation .login-link{
	padding-left: 50px;

	position: relative;
}

/** icon */
.user-navigation .login-link::before{
	content: "";

	width: 16px;
	height: 18px;

	position: absolute;
	top: 28px;
	left: 20px;

	background-image: url(../images/login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.login-link:hover::before,
.login-link:active::before,
.login-link:focus::before{
	opacity: 1;
}

.header-logo{
	width: 369px;
	height: 153px;

	order: 1;
}



/*& Features */
.feature-list{
	display: flex;
	justify-content: space-between;

	margin:0;
	padding: 0;
	margin-bottom: 80px;
	list-style: none;
}

.feature-item{
	width: 300px;
	text-align: center;
}

.feature-item h3{
	position: relative;
	margin-bottom: 60px;
	font-size: 30px;
	line-height: 42px;
}

/** square */
.feature-item h3::after{
	content: "";

	position: absolute;
	top: 51px;
	left: 50%;
	margin-left: -10px;

	width: 20px;
	height: 20px;

	background-color: white;

	transform: rotate(45deg);
}

.feature-list p{
	margin: 0 10px;
}



/*& Index columns */
.index-columns{
	color: #000000;

	background-color: #f8f5f2;
	background-image: 
	url(../images/line.png),
	url(../images/pattern-light.jpg);
	
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;

	padding: 50px 80px;
	margin-bottom: 35px;

	display: flex;
	justify-content: space-between;
}

.index-columns h2{
	margin: 0;
	margin-bottom: 15px;

	font-size: 30px;
	line-height: 42px;
}



/* &NEWS */
.news{
	width: 380px;
}


.news-list{
	list-style: none;

	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.news-item{
	margin-bottom: 22px;
}

.news-item p{
	margin: 0px;
}

.news-item time{
	text-transform: none;
	font-style: italic;
}

.news-item a{
	color: inherit;
	text-decoration: underline;
	text-transform: capitalize;
	
	margin-left: 20px;
}

.news-item a:hover,
.news-item a:focus,
.news-item a:active{
	text-decoration: none;
}



/*& GALLERY */
.gallery{
	width: 300px;
}


.gallery-container{
	position: relative;

	height: 254px;
	width: fit-content;
}

.gallery-content{
	background-color: rgb(196, 195, 195);
	padding: 0;
	margin: 0;
	border: 6px white solid;
}

.gallery img{
	width: 286px;
	height: 164px;
}

.gallery .button{
	position: absolute;
	bottom: 0;

	width: 140px;
	box-sizing: border-box;
	margin: 0;
}

.gallery-btn-back{
	left: 0;
}

.gallery-btn-next{
	right: 0;
}



/*&CONTACTS*/
.contacts{
	width: 380px;
}

.contacts p{
	margin: 0;
	margin-bottom: 25px;
}



/*& APPOINTMENT */
.appointment{
	width: 300px;
}

.form-sign-up{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-sign-up p{

	width: 140px;
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item label{
	display: block;
	margin-bottom: 9px;
	margin-left: 15px;
}

.appointment-item input{
	padding: 8px 17px;
	padding-bottom: 7px;
	width: 100%;
}

.appointment-item input{
	font:inherit;

	border: 2px solid black;
	background-color: #f8f5f2;
}

.appointment-item input:focus{
	border-color: #a06600;
	outline: none;
}

.appointment-item input[type="text"]{
	text-transform: capitalize;
}

.form-sign-up .button{
	margin-top: 10px;
	margin-right: 0;
	width: 100%;
}



/*& FOOTER */
.main-footer{	
	background-color: rgb(58, 58, 58);
	color: white;
	
	background-image: url(../images/pattern-dark.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	
	margin-top: 65px;
	padding: 60px 0;
}

.main-footer .container{
	display: flex;
}

.footer-contacts{
	width: 320px;
	margin-right: 80px;
}

.find-us{
	color: inherit;
	text-decoration: underline;
}

.find-us:hover,
.find-us:focus{
	text-decoration: none;
}

.footer-social{
	width: 141px;
	text-align: center;
}

.footer-social-list{
	list-style: none;

	margin: 0;
	padding: 0;
	width: 141px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-social-link{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 43px;
	height: 43px;
	margin-bottom: 6px; /* ~if more than 3 links */

	background-color: black;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active{
	background: #fff;
}

.footer-social-link:hover path,
.footer-social-link:focus path,
.footer-social-link:active path{
	fill: black;
}

/*.footer-social-link{
	color: white;
	text-decoration: underline;
}

.footer-social-link:focus,
.footer-social-link:hover{
	text-decoration: none;
}*/

.footer-copyright{
	width: 150px;
	margin-left: auto;
	
	text-align: center;
}

.footer-copyright .button{
	margin-right: 0;
	display: inline-block;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus{
	background-color: white;
	color: black;
}



/*& MODAL */
.modal{
	color: black;
	
	background-color: #faf7f4;
	background-image: url(../images/pattern-light.jpg);
	background-position: 0 0;
	
	position: fixed;
}


/*~ ANIMATION */
@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%, 
	100% {
		transform: translateX(0);
	}

	10%, 
	30%, 
	50%, 
	70%, 
	90% {
		transform: translateX(-10px);
	}

	20%, 
	40%, 
	60%, 
	80% {
		transform: translateX(10px);
	}
}

.modal-login{
	display: none;

	top: 120px;
	left: 50%;
	margin-left: -230px;

	width: 300px;
	padding: 50px 80px;

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}


.modal-show {
	display: block !important;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}


.modal-login form {
	margin: 0;
}

.modal-login h2{
	font-size: 30px;
	margin: 0;
	margin-bottom: 15px;
	line-height: 42px;
}

.modal-description {
	font-size: 17px;
	margin: 0;
	margin-bottom: 10px;
}

.modal-login p {
	margin: 0;
	margin-bottom: 10px;
}

.modal-login input[type="text"],
.modal-login input[type="password"]{
	font: inherit;

	box-sizing: border-box;
	width: 100%;

	padding: 10px 15px;
	padding-right: 40px;

	background-color: #f9f6f3;
	border: 2px black solid;
}

.modal-login input[type="text"]:hover,
.modal-login input[type="text"]:focus,
.modal-login input[type="password"]:hover,
.modal-login input[type="password"]:focus {
	border-color: #aa6600;
	border-radius: 2px;
	outline: none;
}

.login-icon-user {
	background-image: url(/images/user.svg);
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-icon-lock {
	background-image: url(/images/lock.svg);
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-form .login-help {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
}

.login-checkbox {
	position: relative;

	padding-left: 30px;

	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

/** CHECKBOX */
.login-checkbox input[type="checkbox"] + .checkbox-indicator{
	position: absolute;
	top: 0;
	left: 0;

	width: 18px;
	height: 18px;
	border: #000 2px solid;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted #663d15;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before, 
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";

	background-color: #000;

	position: absolute;
	top: 8px;
	left: 1px;

	width: 16px;
	height: 2px;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}


.restore,
.registrate{
	color: inherit;
	text-decoration: underline;
}

.restore:hover,
.restore:focus,
.registrate:hover,
.registrate:focus{
	text-decoration: none;
}

.login-btn {
	width: 100%;
}

.modal-close{
	position: absolute;
	top: 0;
	right: -34px;

	width: 22px;
	height: 22px;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	right: 2px;
	bottom: 10px;

	width: 18px;
	height: 3px;

	background-color: #d0d0d0;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}


/** map */
.modal-map {
	display: none;

	top: 50%;
	left: 50%;

	margin-top: -280px;
	margin-left: -390px;

	width: 780px;
	height: 573px;

	border: 7px white solid;
}

.map-pic {
	margin: 0;
}

.map-interactive-image {
	z-index: 2;
	position: relative;
}

.map-image {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
}